
.container {
    display: center;
    justify-content: center;  
    align-items: center;      
    height: 100vh;
    background-color: aquamarine;        
  }


  .app-footer {
    background: linear-gradient(145deg, #333, #444); 
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
    border-top: 5px solid rgba(0, 0, 0, 0.1);
  }
  